.wrapper {
  height: 100%;
  margin: 1em 0;
}

.inner {
  display: flex;
  align-items: center;
  gap: 1em;
  background: #fff;
  padding: 1em;
  border-radius: 10px;
}

.rhs {
  display: flex;
  flex-direction: column;
}
